<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971522465724-6n9ftjo6ds3b5o937f7gf9h21mr5200s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971522465724-6n9ftjo6ds3b5o937f7gf9h21mr5200s</string>
	<key>API_KEY</key>
	<string>AIzaSyCZqAZe0t3Ps5r-ZKBzHLBJEOa5yNbvsuM</string>
	<key>GCM_SENDER_ID</key>
	<string>971522465724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psmB032110201MobileappFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>epihealth-62413</string>
	<key>STORAGE_BUCKET</key>
	<string>epihealth-62413.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971522465724:ios:d0511aedab2340b77115b9</string>
</dict>
</plist>